.formContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
  text-align: center;
}
.submitButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 10rem;
  cursor: pointer;
  margin: 1rem;
  background-color: white;
  color: black;
  outline: 2px solid black;
  text-decoration: none;
  top: auto;
}
input {
  outline: 1px solid black;
}
