.FooterContainer {
  display: flex;
  width: 100vw;
  margin-top: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  row-gap: 0.5rem;
  padding: 0.5rem;
  background-color: white;
}
.icons {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}
.icons a {
  all: unset;
  cursor: pointer;
}
