.Navbar {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
  outline: 2px solid black;
  height: 100px;
  background-color: white;
  margin-bottom: 50px;
}
.Logo {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  font: 2rem "Fira Sans", sans-serif;
}
.Menu {
  display: flex;
  justify-content: space-around;
  font: 1.5rem "Fira Sans", sans-serif;
}
.MenuItem {
  font-size: 20px;
  text-decoration: none;
  border: none;
  background-color: white;
}
